.board {
  position: relative;
  height: calc(100vh - 132px);
  overflow-y: hidden;
  overflow-x: hidden;
  margin: auto;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 450px;

  &__header {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid #c84b31;
    box-sizing: border-box;
  }

  &__text {
    font-size: 1.2em;
    margin: 0 10px 0 15px;
    font-weight: 400;
  }

  &__title {
    background: none;
    border: none;
    outline: none;
    padding-top: 2px;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1;
    color: #c84b31;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:focus {
      background: #ffffff15;
      cursor: auto;
    }
  }

  &__body {
    height: calc(100% - 30px);
    overflow: hidden;
    padding: 15px 5px;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    min-height: 400px;
    min-width: 1px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 10px;
    }
  }

  &__columns {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  &__button {
    width: 272px;
    min-width: 272px;
    height: 40px;
    margin: 0 10px;
    border-radius: 5px;
    border: 2px dashed #9698a3;
    background: none;
    color: #9698a3;
    font-size: 0.9em;
    transition: 0.3s;

    &:hover {
      border: 2px solid #d1d1d6;
      color: #d1d1d6;
      height: 100%;
    }
  }
}
