<div class="auth-nav">
  <ng-template [ngIf]="isAuthorized">
    <p class="auth-nav__name" #name>Nameasdsad</p>
    <img
      class="auth-nav__icon"
      src="../../../../../assets/images/icon.png"
      alt="Profile"
    />
    <button mat-icon-button class="auth-nav__button">
      <mat-icon>settings</mat-icon>
    </button>
    <span class="auth-nav__line"></span>
    <button mat-button color="warn" class="auth-nav__button">
      {{ 'header.auth.logout' | translate }}
    </button>
  </ng-template>
  <ng-template [ngIf]="!isAuthorized">
    <button mat-button class="auth-nav__button" routerLink="/auth/login">
      {{ 'header.auth.login' | translate }}
    </button>
    <span class="auth-nav__line"></span>
    <button mat-button class="auth-nav__button" routerLink="/auth/sign-up">
      {{ 'header.auth.signup' | translate }}
    </button>
  </ng-template>
</div>
