.auth-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;

  &__line {
    display: block;
    height: 60%;
    width: 1px;
    background: white;
  }

  &__icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }

  &__name {
    margin: 0 8px;
    font-size: 14px;
  }
}
