<div class="form">
  <h2 class="form__title">{{ 'header.auth.login' | translate }}</h2>
  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>{{ 'form.name' | translate }}</mat-label>
      <input matInput formControlName="loginInput" required />
      <mat-error>{{ 'form.errors.nameError' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'form.password' | translate }}</mat-label>
      <input
        type="password"
        matInput
        formControlName="passwordInput"
        required
      />
      <mat-error>{{ 'form.errors.passwordError' | translate }}</mat-error>
    </mat-form-field>

    <button class="submit-btn" mat-flat-button color="accent" type="submit">
      {{ 'header.auth.login' | translate }}
    </button>
  </form>
  <p class="form__question">
    {{ 'form.questions.dontHaveAccount' | translate }}
  </p>
  <button mat-button class="form__link" routerLink="/auth/sign-up">
    {{ 'header.auth.signup' | translate }}
  </button>
</div>
