.form {
  width: 450px;
  height: 460px;
  margin: 150px auto 0 auto;
  border-radius: 25px;
  padding: 35px 0 0 0;
  text-align: center;
  color: #fff;
  background-color: #191919;

  @media (max-width: 720px) {
    width: 350px;
    height: 360px;
    margin: 80px auto 20px auto;
    padding: 25px 0 0 0;
  }

  @media (max-width: 400px) {
    width: 300px;
    height: 310px;
    margin: 60px auto 20px auto;
    padding: 22px 0 0 0;
  }

  &__title {
    @media (max-width: 720px) {
      font-size: 20px;
    }

    @media (max-width: 400px) {
      font-size: 16px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 50px auto 0 auto;
    width: 340px;
    font-size: 15px;

    @media (max-width: 720px) {
      width: 280px;
      font-size: 12px;
      margin: 30px auto 0 auto;
      row-gap: 25px;
    }

    @media (max-width: 400px) {
      width: 240px;
      font-size: 11px;
      margin: 25px auto 0 auto;
      row-gap: 18px;
    }

    ::ng-deep .mat-form-field {
      width: 340px;
      margin: 0 auto;

      @media (max-width: 720px) {
        width: 280px;
      }

      @media (max-width: 400px) {
        width: 240px;
      }

      .mat-input-element {
        color: #191919;
      }

      .mat-form-field-label {
        color: #191919;
        font-weight: 500;
      }

      .mat-form-field-flex {
        background-color: #ffffff;
        color: #191919;
      }

      .mat-form-field-required-marker {
        color: #ff0000;
      }
    }

    .submit-btn {
      color: #fff;
      background-color: #c84b31;
      width: 180px;
      margin: 0 auto;

      @media (max-width: 720px) {
        width: 150px;
      }

      @media (max-width: 400px) {
        width: 100px;
      }
    }
  }

  &__error-message {
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 12px;
    color: #ff0000;
  }

  &__question {
    margin-top: 40px;
    font-size: 14px;

    @media (max-width: 720px) {
      font-size: 12px;
      margin-top: 25px;
    }

    @media (max-width: 400px) {
      font-size: 11px;
      margin-top: 22px;
    }
  }

  &__link {
    font-size: 14px;
    margin-top: 5px;
    color: #c84b31;

    @media (max-width: 400px) {
      font-size: 12px;
      margin-top: 0px;
    }
  }
}
