.header {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  background: #000000;
  height: 65px;
  box-shadow: 0 2px 5px #f44336ca;
  padding: 0 10px;
  transition: 0.3s height;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
  }

  &__left-part {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__lang-selection {
      font-size: 16px;
    margin-left: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      margin: 0 5px;
      text-transform: capitalize;
      font-weight: 400;
        font-size: 0.9em;
      transition: 0.2s;

      &:hover {
        font-size: 0.93em;
        font-weight: 500;
      }
    }
  }
}
