<div class="board-item-wrap" #boardWrap>
  <div class="board-item" routerLink="{{ board.id }}">
    <h2 class="board-item__title">{{ board.title }}</h2>
  </div>

  <button
    class="edit-board"
    (click)="toggleUpdateBoardForm()"
    *ngIf="!isUpdateBoardFormActive"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <button
    class="settings-btn"
    (click)="toggleChangeBg()"
    *ngIf="!isChangeBgActive"
  >
    <mat-icon>settings</mat-icon>
  </button>

  <button
    mat-mini-fab
    color="warn"
    class="board-item__delete-btn"
    (click)="toggleConfModal()"
    *ngIf="!isUpdateBoardFormActive"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <form
    [formGroup]="updateBoardForm"
    class="update-board-form"
    *ngIf="isUpdateBoardFormActive"
  >
    <h2 class="update-board-form__title">
      {{ 'mainPage.updateForm.title' | translate }}
    </h2>
    <mat-form-field>
      <mat-label>{{ 'mainPage.updateForm.inputTitle' | translate }}</mat-label>
      <input
        matInput
        autocomplete="off"
        type="text"
        formControlName="newBoardTitleInput"
      />
      <mat-error>{{
        'mainPage.updateForm.errorMessage' | translate
      }}</mat-error>
    </mat-form-field>

    <div class="update-board-form__btns">
      <button mat-flat-button color="accent" (click)="toggleUpdateBoardForm()">
        {{ 'mainPage.updateForm.buttons.cancel' | translate }}
      </button>
      <button mat-flat-button color="accent" (click)="updateBoard()">
        {{ 'mainPage.updateForm.buttons.create' | translate }}
      </button>
    </div>
  </form>

  <div class="bg-settings" *ngIf="isChangeBgActive">
    <div class="bg-settings__cancel" (click)="toggleChangeBg()">
      <mat-icon>cancel</mat-icon>
    </div>
    <h2 class="bg-settings__title">
      {{ 'mainPage.changeBg.title' | translate }}
    </h2>

    <div class="bg-settings__content">
      <div
        class="bg-settings__content__item"
        style="
          background-image: url('../../../../../assets/images/boardsBg-small/1.jpg');
        "
        (click)="changeBoardBg(1)"
      ></div>
      <div
        class="bg-settings__content__item"
        style="
          background-image: url('../../../../../assets/images/boardsBg-small/2.jpg');
        "
        (click)="changeBoardBg(2)"
      ></div>
      <div
        class="bg-settings__content__item"
        style="
          background-image: url('../../../../../assets/images/boardsBg-small/3.jpg');
        "
        (click)="changeBoardBg(3)"
      ></div>
      <div
        class="bg-settings__content__item"
        style="
          background-image: url('../../../../../assets/images/boardsBg-small/4.jpg');
        "
        (click)="changeBoardBg(4)"
      ></div>
      <div
        class="bg-settings__content__item"
        style="
          background-image: url('../../../../../assets/images/boardsBg-small/5.jpg');
        "
        (click)="changeBoardBg(5)"
      ></div>
      <div
        class="bg-settings__content__item"
        style="
          background-image: url('../../../../../assets/images/boardsBg-small/6.jpg');
        "
        (click)="changeBoardBg(6)"
      ></div>
      <div
        class="bg-settings__content__item"
        style="
          background-image: url('../../../../../assets/images/boardsBg-small/7.jpg');
        "
        (click)="changeBoardBg(7)"
      ></div>
      <div
        class="bg-settings__content__item"
        style="background-color: #466594"
        (click)="changeBoardBg(0)"
      ></div>
    </div>
  </div>
</div>

<app-confirmation-modal
  *ngIf="isConfModalActive"
  [deleteTypeName]="board.title"
  (userChoice)="deleteBoard($event)"
></app-confirmation-modal>
