<section class="main-page">
  <h2 class="main-page__title">Boards</h2>
  <div class="main-page__boards-list">
    <div *ngFor="let board of boards">
      <app-board-item [board]="board"></app-board-item>
    </div>
    <div class="create-board">
      <button class="create-board__btn" (click)="toggleForm()">
        Create new board
      </button>

      <form
        [formGroup]="createBoardForm"
        class="create-board__form"
        *ngIf="isFormActive"
      >
        <h2 class="create-new-board-form__title">Create board</h2>
        <mat-form-field>
          <mat-label>Enter board title:</mat-label>
          <input
            matInput
            autocomplete="off"
            type="text"
            formControlName="boardTitleInput"
          />
          <mat-error>Please, enter the title</mat-error>
        </mat-form-field>

        <div class="create-board__form__btns">
          <button mat-flat-button color="accent" (click)="toggleForm()">
            Cancel
          </button>
          <button mat-flat-button color="accent" (click)="createBoard()">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
