%title-shared {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 2px solid #c84b31;
  max-width: 700px;
  margin: 0 auto 30px auto;

  @media (max-width: 768px) {
    font-size: 1.5em;
    max-width: 500px;
  }

  @media (max-width: 384px) {
    padding: 0 5px;
    font-size: 1em;
  }
}

.about {
  background: linear-gradient(
    to right,
    #0c1d3f 0%,
    #2989d8 100%,
    #207cca 100%,
    #7db9e8 100%
  );

  @media (max-width: 480px) {
    padding: 0px 5px;
  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 5px 20px;
    max-width: 1400px;
    margin: auto;

    @media (max-width: 1200px) {
      height: 400px;
    }

    @media (max-width: 600px) {
      height: 600px;
    }
  }

  &-text_block {
    width: 50%;
    min-width: 400px;
    padding: 10px;
    z-index: 1;
    @media (max-width: 864px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 0px;
      width: 100%;
    }
  }

  &-content_text {
    width: 100%;
    text-align: left;
    @media (max-width: 1200px) {
      font-size: 14px;
    }
    @media (max-width: 864px) {
      text-align: center;
    }
    @media (max-width: 600px) {
      word-break: break-word;
    }
  }

  &-content_title {
    max-width: 100%;
    margin: 16px auto;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    @media (max-width: 1200px) {
      font-size: 1.5em;
    }
    @media (max-width: 864px) {
      text-align: center;
    }
    @media (max-width: 480px) {
      word-break: break-word;
      margin: 16px 0;
    }
    @media (max-width: 384px) {
      font-size: 1em;
    }
  }

  &-btn {
    margin: 20px 0;
    background: #c84b31;
    width: 130px;
  }

  &-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 6px #0c1d3f85;
    @media (max-width: 1200px) {
      max-width: 500px;
    }
    @media (max-width: 1000px) {
      max-width: 400px;
    }
    @media (max-width: 864px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      max-width: 100%;
      height: 100%;
      opacity: 0.3;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.icon {
  width: 50%;
}

.main-nav {
  width: 100%;
  height: 170px;
  background: #0c1d3f;
  box-shadow: 0px 3px 4px #ffffff5b;
  @media (max-width: 768px) {
    height: 130px;
  }
  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    button {
      height: 80px;
      width: 120px;
      margin: 0 25px;
      line-height: 0;
      @media (max-width: 768px) {
        height: 50px;
        width: 80px;
        margin: 0 20px;
      }
      @media (max-width: 540px) {
        margin: 0 5px;
      }
      &:hover {
        text-shadow: 2px 2px 16px #b3b3b3;
      }
    }
  }

  &__icon {
    width: auto;
    height: auto;
    font-size: 5em;
    @media (max-width: 768px) {
      font-size: 3em;
    }
  }
}

.hero {
  position: relative;
  padding-top: 60px;



  &__title {
    @extend %title-shared;
  }

  &-content {
    max-width: 1400px;
    margin: auto;

    &_image {
      position: relative;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1000px;
      margin: 10px auto;



      @media (max-width: 600px) {
        height: 400px;
      }
    }

    &_img-text {
      border-left: 1px solid #c84b31;
      margin-left: 20px;
      padding-left: 5px;
      z-index: 1;
      @media (max-width: 768px) {
        
      }
    }

    &_text {
      text-align: center;
      padding: 20px 20px;
      font-size: 1em;
      font-weight: 300;
      margin: auto;
      max-width: 1200px;
      z-index: 1;
      @media (max-width: 1000px) {
        text-align: justify;
      }
      @media (max-width: 768px) {
        padding: 10px;
      }
      @media (max-width: 360px) {
        font-size: 16px;
      }
    }
  }

  &-image {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;

    @media (max-width: 900px) {
      max-width: 300px;
    }
    @media (max-width: 600px) {
      max-width: fit-content;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0.6;
      z-index: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.benefits {
  background: #0c1d3f;
  margin-top: 50px;
  padding: 0 10px 10px 10px;

  &__title {
    padding-top: 40px;
    @extend %title-shared;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    max-width: 600px;
    margin: auto;
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  &__list {
    width: 100%;
    color: white;
    max-width: 1400px;
    margin: 60px auto;
    padding: 0;
  }

  &__list-item {
    display: flex;
    align-items: center;
    width: calc(50% + 1px);
    height: 60px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 500;
    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }

  &__list-item:nth-child(2n) {
    border-left: 2px solid #b3b3b3;
    margin-left: auto;
    padding-left: 20px;
  }

  &__list-item:nth-child(2n + 1) {
    border-right: 2px solid #c84b31;
    margin-right: auto;
    padding-right: 20px;
    p {
      color: #d4d4d4;
      width: 100%;
      text-align: right;
    }
  }
}

.our-team * {
  color: black;
  font-size: 16px;
}

.our-team {
  padding: 0 50px 100px 50px;

  @media (max-width: 480px) {
    padding: 50px 5px;
  }
}

.rs-school {
  position: relative;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    max-width: 1400px;
    margin: auto;
  }

  &__title {
    @extend %title-shared;
    margin-bottom: 10px;
  }

  &__subtext {
    margin: auto;
    text-align: center;
    max-width: 600px;
    font-weight: 400;
    @media (max-width: 600px) {
      font-size: 18px;
    }
    a {
      color: #2989d8;
      text-decoration: underline;
      transition: 0.2s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__link {
    background: #c84b31;
    margin: 20px auto;
  }

  &__text-block {
    max-width: 1100px;
    margin: auto;
  }

  .text-block {
    &__title {
      margin: 10px 0;
      font-size: 1.5em;
      @media (max-width: 384px) {
        font-size: 1em;
      }
    }

    &__subtext {
      text-align: justify;
      color: #e4e4e4;
      @media (max-width: 384px) {
        font-size: 14px;
      }
    }
  }

  &__rss-benefits {
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 80%);
      justify-content: center;
      margin-top: 40px;
      row-gap: 20px;
      column-gap: 0px;
    }
    @media (max-width: 384px) {
      grid-template-columns: repeat(1, 100%);
      justify-content: center;
      row-gap: 10px;
    }
  }

  .rss-benefits {
    &__item {
      position: relative;
      padding-left: 30px;
      align-self: center;
      justify-self: center;
    }

    &__subtext {
      color: #eeeeee;
      font-size: 16px;
      font-weight: 300;
    }

    &__icon {
      position: absolute;
      top: 10px;
      color: #c84b31;
      left: 0;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(../../../../assets/images/angular.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }
}

.team {
  padding-top: 40px;
  @media (max-width: 600px) {
    padding-top: 10px;
  }
  &-content {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
  }

  &-title {
    @extend %title-shared;
    margin-bottom: 10px;
  }

  &-members {
    margin-top: 40px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: fit-content(30%) fit-content(30%) fit-content(30%);
    max-width: 100%;
    width: 100%;

    @media (max-width: 1000px) {
      grid-template-columns: fit-content(50%);
      grid-gap: 20px;
    }
    @media (max-width: 768px) {
      grid-template-columns: fit-content(95%);
    }
  }
  &-member {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
    min-height: 200px;
    box-shadow: 2px 2px 6px black;
    background: #0c1d3f;

    @media (max-width: 1000px) {
      min-height: 250px;
    }

    &_bg {
      position: absolute;
      top: 0;
      left: 0;
      max-height: 200px;
      object-fit: cover;
      border-radius: 5px 5px;
      z-index: 1;
      width: 100%;
    }

    &_name {
      text-align: center;
      margin-top: 10px;
      padding: 0;
      z-index: 1;
      border-bottom: 1px solid #c84b31;
    }

    &_body {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
    }


    &_avatar {
      width: 150px;
      height: 150px;
      object-fit: cover;
      z-index: 2;
      border-radius: 100%;
      box-shadow: 0px 2px 4px #000000c4;
      margin-top: 80px;
      background: #0c1d3f;
      // @media (max-width: 768px) {
      //   width: 100%;
      // }
    }

    &_description {
      z-index: 1;
      font-size: 1em;
      font-weight: 400;
      text-align: center;
      color: #e4e4e4;
      padding: 10px 5px;
    }
  }

}
