<section class="about">
  <div class="about-content">
    <article class="about-text_block">
      <h2 class="about-content_title">
        {{ 'homePage.aboutTitle' | translate }}
      </h2>
      <p class="about-content_text">{{ 'homePage.subtext' | translate }}</p>
      <button mat-raised-button class="about-btn" [routerLink]="routerLink">
        {{ 'homePage.btn' | translate }}
      </button>
    </article>
    <img
      class="about-image"
      src="https://res.cloudinary.com/monday-blogs/fl_lossy,f_auto,q_auto/wp-blog/2021/01/Kanban-board-1.jpg"
      alt=""
    />
    <!-- <div class="about-content_head">
      
        
    </div> -->
  </div>
</section>

<section class="main-nav">
  <div class="main-nav__icons">
    <button mat-button matTooltip="{{ 'homePage.nav.about' | translate }}">
      <mat-icon class="main-nav__icon">public</mat-icon>
    </button>
    <button
      mat-button
      matTooltip="{{ 'homePage.nav.ourBenefits' | translate }}"
    >
      <mat-icon class="main-nav__icon"> list_alt</mat-icon>
    </button>
    <button mat-button matTooltip="{{ 'homePage.nav.rss' | translate }}">
      <mat-icon class="main-nav__icon">school</mat-icon>
    </button>
    <button mat-button matTooltip="{{ 'homePage.nav.aboutUs' | translate }}">
      <mat-icon class="main-nav__icon">supervised_user_circle</mat-icon>
    </button>
  </div>
</section>

<section class="hero">
  <div class="hero-content">
    <h2 class="hero__title">{{ 'homePage.about.whatIsKBoard' | translate }}</h2>
    <p class="hero-content_text">
      {{ 'homePage.about.description' | translate }}
    </p>
    <div class="hero-content_image">
      <img
        src="../../../../assets/images/hero.png"
        alt="hero"
        class="hero-image"
      />
      <p class="hero-content_img-text">
        {{ 'homePage.about.heroText' | translate }}
      </p>
    </div>
  </div>
</section>

<section class="benefits">
  <h2 class="benefits__title">{{ 'homePage.benefits.title' | translate }}</h2>
  <p class="benefits__text">{{ 'homePage.benefits.aboutText' | translate }}</p>
  <ul class="benefits__list">
    <li class="benefits__list-item" *ngFor="let i of benefits">
      <p>{{ i | translate }}</p>
    </li>
  </ul>
</section>

<section class="our-team">
  <div class="team-content">
    <div class="team-content_description">
      {{ 'homePage.description' | translate }}
    </div>
    <h2 class="team-title">{{ 'homePage.title' | translate }}</h2>

    <div class="team-members">
      <div class="team-member">
        <div class="team-member_title">
          <h3 class="team-member_name">{{ 'footer.names.s' | translate }}</h3>
        </div>
        <div class="team-member_body">
          <img
            class="team-member_avatar"
            src="../../../../assets/images/avatar.png"
            alt=""
          />
          <span class="team-member_description">{{
            'homePage.memberDescription.s' | translate
          }}</span>
        </div>
      </div>

      <div class="team-member">
        <div class="team-member_title">
          <h3 class="team-member_name">{{ 'footer.names.v' | translate }}</h3>
        </div>
        <div class="team-member_body">
          <img
            class="team-member_avatar"
            src="../../../../assets/images/victar.png"
            alt=""
          />
          <span class="team-member_description">{{
            'homePage.memberDescription.v' | translate
          }}</span>
        </div>
      </div>

      <div class="team-member">
        <div class="team-member_title">
          <h3 class="team-member_name">{{ 'footer.names.e' | translate }}</h3>
        </div>
        <div class="team-member_body">
          <img
            class="team-member_avatar"
            src="../../../../assets/images/avatar.png"
            alt=""
          />
          <span class="team-member_description">{{
            'homePage.memberDescription.e' | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
