.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 10px;
  padding: 0 20px;

  @media (max-width: 480px) {
    padding: 0px 5px;
  }

  &-content {
    padding: 100px 20px;
    border-radius: 25% 10px 25% 10px;
    background: rgb(55, 183, 255);
    background: linear-gradient(
      90deg,
      rgba(55, 183, 255, 1) 0%,
      rgba(115, 182, 236, 1) 33%,
      rgba(211, 213, 255, 1) 100%
    );

    @media (max-width: 1199px) {
      padding: 50px 40px;
    }

    @media (max-width: 768px) {
      padding: 30px 10px;
    }
  }

  &-content_text {
    max-width: 50%;
    width: 100%;
  }

  &-content_title {
    max-width: 100%;
    margin: 16px auto;
    text-align: center;
    font-size: 32px;
    font-weight: 400;

    @media (max-width: 480px) {
      font-size: 24px;
    }
  }

  &-content_head {
    max-width: 1600px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    @media (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-text {
    max-width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  &-list {
    padding: 0;
  }

  &-list_item {
    padding: 5px 0;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }

  &-icons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    max-width: 25%;
    width: 100%;

    @media (max-width: 1199px) {
      max-width: 50%;
    }

    @media (max-width: 768px) {
      max-width: 80%;
    }
  }
}

.icon {
  width: 50%;
}

.wrapper {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    max-width: 900px;
  }
}

.hero {
  padding: 100px 20px;

  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 480px) {
    padding: 50px 5px;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 25% 10px 25% 10px;
    background: rgb(0, 140, 174);
    background: linear-gradient(
      90deg,
      rgba(0, 140, 174, 1) 0%,
      rgba(0, 140, 174, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );

    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      background: linear-gradient(
        180deg,
        rgba(0, 140, 174, 1) 0%,
        rgba(0, 140, 174, 1) 70%,
        rgba(255, 255, 255, 1) 100%
      );
    }

    &_image {
      padding: 80px 50px;
      display: flex;
      justify-content: center;

      @media (max-width: 1199px) {
        padding: 40px 50px;
      }

      @media (max-width: 1199px) {
        padding: 25px 0;
      }
    }

    &_text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 80px 80px;
      font-size: 32px;
      color: black;

      @media (max-width: 1199px) {
        padding: 40px 50px;
      }

      @media (max-width: 480px) {
        font-size: 20px;
        padding: 40px 10px;
      }
    }
  }

  &-image {
    width: 75%;
  }
}

.our-team * {
  color: black;
  font-size: 16px;
}

.our-team {
  padding: 0 50px 100px 50px;

  @media (max-width: 480px) {
    padding: 50px 5px;
  }
}

.team {
  &-content {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(0, 140, 174, 1) 50%,
      rgba(18, 46, 88, 1) 95%
    );

    &_description {
      padding: 10px 5px;
      text-align: center;
    }
  }

  &-title {
    font-size: 32px;
    padding: 10px 0;
  }

  &-members {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: fit-content(30%) fit-content(30%) fit-content(30%);
    max-width: 100%;
    width: 100%;

    @media (max-width: 768px) {
      grid-template-columns: fit-content(90%);
      grid-gap: 20px;
    }
  }
  &-member {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    min-height: 200px;

    @media (max-width: 1023px) {
      min-height: 250px;
    }

    &_name {
      text-align: center;
      padding: 5px 0;
    }

    &_body {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: row;
      }
      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    &_avatar {
      max-width: 55%;
      border-radius: 10px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &_description {
      padding: 10px 5px;
    }
  }

  &-member:hover {
    box-shadow: 0 0 5px 3px rgb(255, 255, 255, 0.5);
  }
}
