<section class="about">
  <div class="wrapper">
    <div class="about-content">
      <h2 class="about-content_title">
        {{ 'homePage.aboutTitle' | translate }}
      </h2>
      <h3 class="about-text">{{ 'homePage.aboutText' | translate }}</h3>
      <div class="about-content_head">
        <div class="about-content_text">
          <ul class="about-list">
            <li class="about-list_item">
              {{ 'homePage.aboutItems.1' | translate }}
            </li>
            <li class="about-list_item">
              {{ 'homePage.aboutItems.2' | translate }}
            </li>
            <li class="about-list_item">
              {{ 'homePage.aboutItems.3' | translate }}
            </li>
            <li class="about-list_item">
              {{ 'homePage.aboutItems.4' | translate }}
            </li>
            <li class="about-list_item">
              {{ 'homePage.aboutItems.5' | translate }}
            </li>
            <li class="about-list_item">
              {{ 'homePage.aboutItems.6' | translate }}
            </li>
            <li class="about-list_item">
              {{ 'homePage.aboutItems.7' | translate }}
            </li>
          </ul>
        </div>
        <div class="about-icons">
          <img
            src="../../../../assets/images/quality.png"
            alt="icon"
            class="icon"
          />
          <img
            src="../../../../assets/images/tasks.png"
            alt="tasks"
            class="icon"
          />
          <img
            src="../../../../assets/images/save.png"
            alt="save"
            class="icon"
          />
          <img
            src="../../../../assets/images//work.png"
            alt="icon"
            class="icon"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero">
  <div class="wrapper">
    <div class="hero-content">
      <div class="hero-content_image">
        <img
          src="../../../../assets/images/hero.png"
          alt="hero"
          class="hero-image"
        />
      </div>
      <div class="hero-content_text">
        {{ 'homePage.heroText' | translate }}
      </div>
    </div>
  </div>
</section>

<section class="our-team">
  <div class="team-content">
    <div class="team-content_description">
      {{ 'homePage.description' | translate }}
    </div>
    <h2 class="team-title">{{ 'homePage.title' | translate }}</h2>

    <div class="team-members">
      <div class="team-member">
        <div class="team-member_title">
          <h3 class="team-member_name">{{ 'footer.names.s' | translate }}</h3>
        </div>
        <div class="team-member_body">
          <img
            class="team-member_avatar"
            src="../../../../assets/images/avatar.png"
            alt=""
          />
          <span class="team-member_description">{{
            'homePage.memberDescription.s' | translate
          }}</span>
        </div>
      </div>

      <div class="team-member">
        <div class="team-member_title">
          <h3 class="team-member_name">{{ 'footer.names.v' | translate }}</h3>
        </div>
        <div class="team-member_body">
          <img
            class="team-member_avatar"
            src="../../../../assets/images/victar.png"
            alt=""
          />
          <span class="team-member_description">{{
            'homePage.memberDescription.v' | translate
          }}</span>
        </div>
      </div>

      <div class="team-member">
        <div class="team-member_title">
          <h3 class="team-member_name">{{ 'footer.names.e' | translate }}</h3>
        </div>
        <div class="team-member_body">
          <img
            class="team-member_avatar"
            src="../../../../assets/images/avatar.png"
            alt=""
          />
          <span class="team-member_description">{{
            'homePage.memberDescription.e' | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
