<section class="page-not-found">
  <div class="page-content">
    <div class="page-content_title">
      <article class="page-content__404-block">
        <h2 class="title-big">4</h2>
        <img
          class="page-content__image"
          src="../../../../assets/images/404.png"
          alt="me"
        />
        <h2 class="title-big">4</h2>
      </article>
      <h3 class="title-small">{{ 'pageNotFound.titleSmall' | translate }}</h3>
      <p class="title-subtext">{{ 'pageNotFound.subtext' | translate }}!</p>
    </div>
  </div>
</section>
