.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.page-content {
  max-width: 1920px;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;

  &_title {
    width: auto;
  }
}

.title {
  &-big {
    font-size: 128px;
    line-height: 141px;
  }

  &-small {
    font-size: 64px;
    line-height: 70px;
  }

  &-big,
  &-small {
    text-align: center;
  }
}
