<section class="home">
  <div class="wrapper">
    <h2 class="home-title">
      Наше приложение Управление проектами - успех работы Вашей команды.
    </h2>
    <div class="home-content_head">
      <div class="home-content_text">
        <h3 class="home-text">
          Управляя своим проектом с помощью нашего приложения Вы получаете
          следующие преимущества:
        </h3>
        <ul class="home-list">
          <li class="home-list_item">1. ...</li>
          <li class="home-list_item">2. ...</li>
          <li class="home-list_item">3. ...</li>
          <li class="home-list_item">4. ...</li>
          <li class="home-list_item">5. ...</li>
        </ul>
      </div>
      <img
        src="../../../../assets/images/welcome.png"
        alt="welcome"
        class="welcome-image"
      />
    </div>
    <div class="team-content">
      <h2 class="team-title">Наша команда:</h2>

      <div class="team-members">
        <div class="team-member">
          <div class="team-member_title">
            <h3 class="team-member_name">1 разаработчик</h3>
          </div>
          <div class="team-member_body">
            <img
              class="team-member_avatar"
              src="../../../../assets/images/avatar.png"
              alt=""
            />
            <span class="team-member_description"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque
              recusandae aspernatur dicta vitae inventore alias laborum.
              Necessitatibus facilis eum accusamus, voluptatibus exercitationem
              alias blanditiis repellat optio! Asperiores, velit? Dolorum,
              ullam.</span
            >
          </div>
        </div>

        <div class="team-member">
          <div class="team-member_title">
            <h3 class="team-member_name">2 разаработчик</h3>
          </div>
          <div class="team-member_body">
            <img
              class="team-member_avatar"
              src="../../../../assets/images/avatar.png"
              alt=""
            />
            <span class="team-member_description"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              voluptatem ipsa corrupti pariatur animi iste est sit fuga maiores
              beatae distinctio amet, corporis voluptates libero consequatur,
              provident, quidem placeat aliquid.</span
            >
          </div>
        </div>

        <div class="team-member">
          <div class="team-member_title">
            <h3 class="team-member_name">3 разаработчик</h3>
          </div>
          <div class="team-member_body">
            <img
              class="team-member_avatar"
              src="../../../../assets/images/avatar.png"
              alt=""
            />
            <span class="team-member_description"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
              tenetur pariatur autem aut. Illum distinctio obcaecati facere
              tenetur quo blanditiis accusamus deserunt aliquid soluta quam
              rerum doloribus, porro quos cum.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
