<section class="hero" #about>
  <div class="hero-content">
    <h2 class="hero__title" appScrollAnimation>
      {{ 'homePage.about.whatIsKBoard' | translate }}
    </h2>
    <p class="hero-content_text" appScrollAnimation>
      {{ 'homePage.about.description' | translate }}
    </p>
    <div class="hero-content_image" appScrollAnimation>
      <img
        src="../../../../assets/images/hero.png"
        alt="hero"
        class="hero-image"
      />
      <p class="hero-content_img-text">
        {{ 'homePage.about.heroText' | translate }}
      </p>
    </div>
  </div>
</section>
