<div class="form">
  <h2 class="form__title">{{ 'header.auth.signup' | translate }}</h2>
  <form [formGroup]="signUpForm">
    <mat-form-field>
      <mat-label>{{ 'form.name' | translate }}</mat-label>
      <input matInput formControlName="nameInput" required />
      <mat-error>{{
        (signUpForm.controls['nameInput'].hasError('minlength')
          ? 'form.errors.otherErrors.minNameError'
          : 'form.errors.requiredErrors.nameError'
        ) | translate
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'form.login' | translate }}</mat-label>
      <input matInput formControlName="loginInput" required />
      <mat-error>{{
        (signUpForm.controls['loginInput'].hasError('minlength')
          ? 'form.errors.otherErrors.minLoginError'
          : 'form.errors.requiredErrors.loginError'
        ) | translate
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'form.password' | translate }}</mat-label>
      <input
        type="password"
        matInput
        formControlName="passwordInput"
        required
      />
      <mat-error>{{
        (signUpForm.controls['passwordInput'].hasError('pattern')
          ? 'form.errors.otherErrors.passwordError'
          : 'form.errors.requiredErrors.passwordError'
        ) | translate
      }}</mat-error>
    </mat-form-field>

    <button
      class="submit-btn"
      mat-flat-button
      color="accent"
      type="submit"
      (click)="signUp()"
    >
      {{ 'header.auth.signup' | translate }}!
    </button>
  </form>

  <p class="form__error-message" *ngIf="errorMessage">{{ errorMessage }}</p>

  <p class="form__question">{{ 'form.questions.haveAccount' | translate }}</p>
  <button mat-button class="form__link" routerLink="/auth/login">
    {{ 'header.auth.login' | translate }}!
  </button>
</div>
