<article class="column" *ngIf="columnInfo" cdkDrag>
  <div class="column__custom-placeholder" *cdkDragPlaceholder></div>
  <div class="column__header">
    <h3
      class="column__title"
      *ngIf="!isActiveTitle"
      (click)="isActiveTitle = !isActiveTitle"
    >
      {{ columnInfo.title }}
    </h3>
    <div class="column__input-block" *ngIf="isActiveTitle">
      <input
        class="column__title-input"
        type="text"
        name="title"
        [value]="columnInfo.title"
      />
      <button mat-button class="column__input-button">
        {{ 'board.buttons.cancel' | translate }}
      </button>
      <button mat-button class="column__input-button">
        {{ 'board.buttons.submit' | translate }}
      </button>
    </div>
  </div>
  <div
    class="column__body"
    appResizeHeight
    [parentClass]="'board__body'"
    *ngIf="tasks"
    cdkDropList
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="dropTask($event)"
  >
    <article *ngFor="let task of tasks" class="column__task" cdkDrag>
      <p class="column__task-text">{{ task.title }}</p>
      <p class="column__task-description">{{ task.description }}</p>
    </article>
  </div>
  <div class="column__footer">
    <button mat-button class="column__add-button">
      + {{ 'board.addTask' | translate }}
    </button>
    <button mat-mini-fab color="warn" class="column__delete-btn">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</article>
