<article class="column" *ngIf="columnInfo" cdkDrag>
  <div class="column__custom-placeholder" *cdkDragPlaceholder></div>

  <div class="column__header">
    <h3
      class="column__title"
      *ngIf="!isActiveTitle"
      (click)="isActiveTitle = !isActiveTitle"
    >
      {{ columnInfo.title }}
    </h3>
    <div class="column__input-block" *ngIf="isActiveTitle">
      <input
        class="column__title-input"
        type="text"
        name="title"
        [(ngModel)]="columnTitle"
      />
      <button
        mat-button
        class="column__input-button"
        (click)="changeTitle(false)"
      >
        {{ 'board.buttons.cancel' | translate }}
      </button>
      <button
        mat-button
        class="column__input-button"
        (click)="changeTitle(true)"
      >
        {{ 'board.buttons.submit' | translate }}
      </button>
    </div>
  </div>

  <div
    class="column__body"
    appResizeHeight
    [parentClass]="'board__body'"
    *ngIf="tasks"
    cdkDropList
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="dropTask($event)"
  >
    <article
      *ngFor="let task of tasks | sortTasks"
      class="column__task"
      cdkDrag
    >
      <p class="column__task-text" (click)="selectTask(task)">
        {{ task.title }}
      </p>
      <p class="column__task-description" (click)="selectTask(task)">
        {{ task.description }}
      </p>
      <button
        mat-icon-button
        class="column__task-delete-btn"
        (click)="openConfirmWin(task.id)"
      >
        <mat-icon>delete_outline</mat-icon>
      </button>
    </article>
  </div>

  <div class="column__footer">
    <button
      mat-button
      class="column__add-button"
      (click)="isModalVisible = true"
    >
      + {{ 'board.addTask' | translate }}
    </button>
    <button
      mat-mini-fab
      color="warn"
      class="column__delete-btn"
      (click)="deleteColumn()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</article>
<app-board-modal
  *ngIf="isModalVisible"
  [isEditTaskModal]="true"
  [task]="selectedTask"
  [board]="board"
  [column]="columnInfo"
  (modalClose)="closeModal()"
  (valueChange)="createTask($event)"
  (taskEdit)="changeTask($event)"
></app-board-modal>
<app-confirmation-modal
  *ngIf="taskToDelete"
  [deleteTypeName]="taskToDelete.title"
  (userChoice)="deleteTask($event)"
></app-confirmation-modal>
