.page-content {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &_title {
    width: auto;
  }
}

.title {
  &-big {
    font-size: 128px;
    line-height: 141px;
  }

  &-small {
    font-size: 64px;
    line-height: 70px;
  }

  &-big,
  &-small {
    text-align: center;
  }
}
